# SEMANA02
MARCO ANTONIO ZARATE PONTE

2. VARIABLES

In [1]:
# Siempre debe iniciar con una letra o un gu√≠on (Nunca con un numero o otro simbolo)

In [4]:
edad = 22

In [5]:
edad

22

In [6]:
nombre = " Marco "

In [7]:
nombre

' Marco '

In [8]:
apellido = " Zarate "

In [9]:
apellido

' Zarate '

In [11]:
nombrecompleto = nombre + apellido

In [12]:
nombrecompleto

' Marco  Zarate '

In [13]:
# Para saber el tipo de variable utilizamos la funcion type()
# Por ejemplo: 
numero = 50
type ( numero )

int

In [14]:
type(nombre)

str

In [16]:
talla = 1.59

In [17]:
type(talla)

float

In [19]:
# Para convertir una cadena a un decimal utilizamos float()
cadena1 = " 22 "
numero1 = float(cadena1)
numero1

22.0

In [22]:
type(numero1)

float