# SEMANA 02
Marco Antonio Zarate Ponte

# Temas:
       1. Numero
       2. Variables
       3. Manejo de cadenas
       4. Ingreso de datos desde el teclado
       5. Operadores

3. Manejo de Cadenas

In [3]:
cadena = " Universidad Nacional Tecnologica de Lima Sur"

In [26]:
cadena

' Universidad Nacional Tecnologica de Lima Sur'

In [5]:
# Universidad Nacional Tecnologica de Lima Sur
#01234.......................................-2 -1

In [16]:
cadena[1]

'U'

In [15]:
cadena[10]

'a'

In [11]:
# Tambien considera los espacios en blanco

In [13]:
cadena[12]

' '

In [17]:
# ¿ Que me mostrara ?
cadena[-5]

'a'

In [18]:
cadena[21]

' '

In [19]:
# Tambien lo puedo mostar ascendiendo de manera inversa

In [20]:
cadena[-23]

'T'

In [21]:
#Para mostrar una subcadena[desde , hasta una antes]

In [22]:
cadena[3:8]

'ivers'

In [24]:
# Para saber el tamaño de una cadena utilizamos len()
# incluye espacios en blanco
len(cadena)

45

In [25]:
cadena

' Universidad Nacional Tecnologica de Lima Sur'

In [27]:
# Si deseo cambiar una cadena en letras minusculas utilizamos Lower()

In [29]:
cadena.lower()

' universidad nacional tecnologica de lima sur'

In [30]:
# Generar una lista a partir de una cadena.split()

In [31]:
cadena.split()

['Universidad', 'Nacional', 'Tecnologica', 'de', 'Lima', 'Sur']

In [35]:
# Generar una lista utilizando un criterio de separacion a partir de una cadena.split()
# Vamos a generar una lista de toda la cadena , utilizando como criterio de separacion : Letra " A "
cadena.split("a")

[' Universid', 'd N', 'cion', 'l Tecnologic', ' de Lim', ' Sur']

In [36]:
# Implrimir dando formato
# forma clasica " + "
# .format()
# f

In [37]:
# Forma clasica, concatenar con +
nombre = " Marco Zarate "
print( " Hola " + nombre)

 Hola  Marco Zarate

In [38]:
# Utilizamos el .format()
nombre = " techis senior "
edad = 29
print ( " holaa {} ya se que tienes {} años".format(nombre,edad))

 holaa  techis senior  ya se que tienes 29 años

In [40]:
# Dara formato a numeros con muchos decimales 
resultado = 10/3
print("10/3 es = {}".format(resultado))
print("10/3 es = {r:1.3f}" .format(r = resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.333

In [41]:
# Dar formato con f 

nombre = " techies senior "
edad   = 19
print(f"Buenos dias {nombre}. ya se que tienes {edad} años")

Buenos dias  techies senior . ya se que tienes 19 años

In [44]:
# Dar un formato a numeros con mucho decimal con f 
resultado = 10/3
print(f"10/30 el resultado es {resultado}")

10/30 el resultado es 3.3333333333333335